@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');


:root {
    --primary-color: #1F2937;
    --text-color: #000000;
    --font-style: 'Mukta', sans-serif;
    --max-width: 600px;
}


body{
    margin: auto;
    padding: 3rem;
    background-image: url(/images/pexels-efecan-efe-7780135.jpg);  
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    color: var(--text-color);
    font-family: var(--font-style);
    
}

.container {
    margin: auto;
    max-width: var(--max-width);
    padding: 2rem;
    text-align: center;
}

input {
    display: block;
    width: 70%;
    margin: 1rem auto 3rem;
    height: 1rem;
    padding: 0.5rem;
    font-family: var(--font-style);
    font-size: large;
}

button {
    display: block;
    padding: 0.1rem 1rem;
    margin: 1.5rem auto 3rem;
    font-family: var(--font-style);
    font-size: large;
}

#output {
    text-align: center;
    font-size: 1.5rem;
    color: white; 
    /* font-weight: bold; */
}

label {
    text-align: center;
    font-size: 1.35rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
}



